@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

body{
    width: 1024px;
    margin: auto;
    background-color: #F4F4F4;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.bug_menu{
    width:1024px;
    height:5px;
    float:left;
}
.item2_in_profile{
    width:339px;
    height:200px;
    float:left;
    border:1px solid black;
    margin-left:20px;
    margin-top:20px;
}


.item2_detail_profile{
    width:auto;
    height:200px;
}

.center_text{
    text-align: center;
}

#status{
   display: none;
}

#post{
   display: none;
}

.crew{
    width:100%;
    height:200px;
    display:block;
    margin-top:5px;
}

.crewphoto{
    width:150px;
    height:150px;
    border-radius: 200px;
    float:left;
}

.crewdescription{
    float:left;
    margin-left:10px;
}

.upload{
    height:125px;
    text-align: center;
    border-radius:5px;
    float:right;
}


.upload_logo{
    width:50px;
    height:50px;
    display:block;
    margin:0px auto;
}

.upload_form_button{
    width:50px;
    background-color: dodgerblue;
    color:white;
    text-align: center;
    border-radius:3px;
    padding:5px;
}

.upload_form_cancel{
    width:50px;
    background-color: white;
    text-align: center;
    border-radius:3px;
    float:right;
    padding:5px;
}

.subcategory_container{
    width:100%;
    height:auto;
}

.subcategory_tengah{
    width:925px;
    height:300px;
    
    display: block;
    margin : 0px auto;
}

.subcategory{
    width:300px;
    height:300px;
    
    float:left;
}

.subcategory_image{
    width:125px;
    height:150px;
    display:block;
    margin:0px auto;
}

.subcategory_description{
    text-align: center;
}

.welcome_guest{
    width:400px;
    text-align: center;
}

.plus_button{
    width:50px;
    height:50px;
    float:right;
}


.sort_by{
    width:100%;
    height:auto;
    margin:0px auto;
}

.sort_by_container{
    width:666px;
    height:50px;
    display:block;
    margin:0px auto;
}

.sort_button{
    width:200px;
    height:auto;
    padding:10px;
    float:left;
    margin-bottom:10px;
}

#seemore{
    border-radius: 15px;
    width:25px;
    height:25px;
    float:left;
}

@keyframes seemore {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

#seemore:hover{
    position:absolute;
    animation-name: seemore;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#seeMoreFont{
    color:white;
    float: left;
}

.information{
    width:200px;
    height:auto;
    clear: both;
}

.information .information_more {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 1s;
    margin-left: 30px;
}

.information:hover .information_more {
    visibility: visible;
    opacity: 1;
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 115px;
    
    background-color: rgba(255,255,255, 0.9);
    overflow-y: hidden;
    
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #a5a5c0;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px !important;
    margin: 0px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}

.notif_font{
    color:whitesmoke;
}

#notification_count{
    margin:0px;
    color:white;
    background-color: red;
}

.sort_button:hover{
    border-bottom:1px dashed #b3b3cc;
}
.sort_logo_size{
    width:25px;
    height:25px;
    margin:auto;
    float:left;
}

.sort_desc{
    margin-top:auto;
    margin-bottom:auto;
    text-align: center;
}

.welcome_section{
    width:100%;
    height:300px;
    margin-top:5px;
    text-align: center;
}

.media_sosial_user{
    width:100px;
    height:40px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.nomargin{
    margin-top : 0px;
    margin-bottom : 0px;
    text-align: center;
}

.spacing_bawah{
    width:100%;
    height:400px;
}

.edit{
    width:30px;
    
}
/*#containercategory{
    display: block;
    text-align: center;
    height: 150px;
}
#containercategory p{
    margin-top: 50px;
    font-weight: bold;
    color: #F4F4F4;
}

#webs{
    display: inline-block;
    height: 120px;
    width: 120px;
    text-align: center;
    border-radius: 100%;
    background-color: #fa23a7;
    border: 5px dashed #F4F4F4;
    margin: 20px;
}

#apps{
    display: inline-block;
    height: 120px;
    width: 120px;
    text-align: center;
    border-radius: 100%;
    background-color: #39226f;
    border: 5px dashed #F4F4F4;
    margin: 20px;
}

#graphics{
    display: inline-block;
    height: 120px;
    width: 120px;
    text-align: center;
    border-radius: 100%;
    background-color: #2ccad9;
    border: 5px dashed #F4F4F4;
    margin: 20px;
}*/

#containerheader{
    height: 50px;
}

#leftlogo{
    margin-top: 20px;
    margin-right: 20px;
    height: 15px;
    float: left;
}

#gplus{
    float: left;
    margin-top: 15px;
    height: 30px;
    margin-left: 5px;
}

#twitter{
    float: left;
    margin-top: 15px;
    height: 30px;
    margin-left: 5px;
}

#fb{
    float: left;
    margin-top: 15px;
    height: 30px;
    margin-left: 5px;
}

#containernav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px dashed #333;
}

#containernav li {
    float: left;
}

#containernav li.right {
    float: right;
}

#containernav li a, .dropbutton {
    display: inline-block;
    color: #2ccad9;
    padding: 14px 16px;
    text-decoration: none;
}

#containernav li a:hover, .dropdown:hover .dropbutton {
    background-color: white;
}

#containernav .dropdown {
    display: inline-block;
}

#containernav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#containernav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#containernav .dropdown-content a:hover {background-color: #f1f1f1}

#containernav .dropdown:hover .dropdown-content {
    display: block;
}

#containersection{
    width: 1024px;
    margin-bottom: 10px;
}

#containerfooter{
    margin-top: 10px;
    bottom: 0px;
    position:relative;
}

#containerfooter table{
    width: 1024px;
}
#footerkiri{
    text-align: left;
}

#footerkanan{
    text-align: right;
}

.logo-awal{
    width: 350px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.enter{
    margin-top: 75px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #0000bb;
}

a:hover{
    color:#0066ff;
}

#search_bar{
    border-radius: 25px;
    padding: 10px;
    width: 280px;
    margin-bottom:auto;
    background-color: #F4F4F4;
}

#input_text{
    background-color: #F4F4F4;
}

.search_logo{
    width:10px;
    height:10px;
}

.left{
    float:right;
}
.sponsor{
    margin-top: 100px;
    text-align: center;
    display: block;
}

.logosponsor{
    width:100px;
    margin-right: 15px;
    margin-left: 15px;
}

.ukdw{
    width:50px;
    margin-right: 15px;
    margin-left: 15px;
}

.coba{
    display:block;
    float:left;
}


@keyframes gunungan {
    0%{
        bottom:-700px;
        opacity: 0;
    }
    100%{
        bottom:155px;
        left:175px;
    }
}

@keyframes kuas {
    0%{
        bottom:-800px;
        opacity: 0;
    }
    100%{
        bottom:320px;
        left:410px;
    }
}

@keyframes palet {
    0%{
        bottom:-800px;
        opacity: 0;
    }
    100%{
        bottom:200px;
        left:425px;
    }
}

@keyframes mouse{
    0%{
        bottom:-700px;
        opacity: 0;
    }
    100%{
        bottom:100px;
        left:440px;
    }
}

.animasi{
    width:100%;
    height:1024px;
}

.spacing{
    width:200px;
    display:block;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 125px;
    float:right;
}

.isi{
    width: 1024px;
    height:auto;
    float:left;
}

.comments_container{
    width:1024px;
    height:auto;
}

.user_comment{
    width:1000px;
    height:200px;
    display: block;
    margin:5px auto;
    
}

.comment_photo{
    width:150px;
    height:200px;
    
    float:left;
}

.comment_photo_size{
    width:150px;
}

.comment_content{
    width:850px;
    height:200px;
}

.comment_name{
    margin:0px;
}

.write_comment{
    width:370px;
    height:200px;
    display:block;
}

.comment_date_and_time{
    float:right;
}

.comment_button{
    width:50px;
    background-color: dodgerblue;
    color:white;
    text-align: center;
    border-radius:3px;
    float:right;
    padding:5px;
}

.video{
    width:339px;
    height:auto;
    float:left;
    margin-left:10px;
}
.middle{
    width:1024px;
    height:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    width:600px;
    height:600px;
    float: left;
}

.deco1{
    width: 315px;
    position:absolute;
    animation-name: gunungan;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    float:bottom;
    transition: width 1s,height 0.5s;
    z-index: 3;
}

.deco2{
    width: 115px;
    position:absolute;
    animation-name: kuas;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    float:bottom;
    transition: width 2s,height 1s;
    z-index: 1;
}

.deco3{
    width: 280px;
    position:absolute;
    animation-name: palet;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    float:bottom;
    transition: width 0.5s,height 1.5s;
    z-index: 2;
}

.deco4{
    width:325px;
    position:absolute;
    animation-name: mouse;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    float:bottom;
    transition: width 1s,height 2s;
    z-index: 0;
}

.customer{
    width:400px;
    height:500px;
    float:left;
}

.space_dalam{
    width:100%;
    height:150px;
}

.as_guest{
    width:auto;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    
}

.logo_image{
    width:50px;
    height:50px;
    
}

.header_login{
    width:1024px;
    height:auto;
    display:block;
    margin: 50px auto;
    text-align: center;
}

.header_login_image1{
    width: 300px;
}

.header_login_image2{
    width: 100px;
}


a{
    text-decoration: none;
}

.active{
    background-color: #fafafa;
    font-style: italic;
}

.button:hover{
    width:200px;
    height:200px;
}

.login{
    display: block;
    width:200px;
    height:125px;
    margin:10px auto;
    padding: 20px;
    border: 1px dashed dodgerblue;
}

.upload_section{
    width:400px;
    height:auto;
    display: inline-block;
}

.simple_way{
    width:500px;
    height:auto;
    display: inline-block;
}

.ways{
    width:500px;
    height:125px;
}

.dot{
    width:10px;
    height:10px;
    display: block;
    margin-left:40px;
    margin-top:5px;
}

.active_menu{
    border-bottom:1px solid cyan;
}

.ways_photo{
    height:100px;
    width: 100px;
    padding: 10px;
    float:left;
}

.text{
    text-align: center;
}

.display{
    width:100%;
    height:auto;
    margin: auto;
}

.item{
    height:auto;
    width:400px;
    border: 1px solid aliceblue;
    float:left;
    margin-left:15px;
}

.item-image{
    width:310px;
    height:auto;
    margin:10px auto;
}

.item-desc{
    background-color: aliceblue
}

.item2{
    width:337px;
    height:200px;
    border:1px solid black;
    display: inline-block;
}

.item2_container{
    width:100%;
    height:500px;
}

.item2_photo{
    width: 337px;
    height:200px;
    z-index: -5;
    position:absolute;
}

.home_notification{
    color:green;
    background-color: greenyellow;
}

.notification_red{
    color:red;
    background-color: mintcream;
}

.photo_small{
    width:150px;
    padding-left: 50px;
    padding-right: 50px;
}

.post_setting{
    margin-right: 10px;
    float: right;
    text-decoration: none;
    color: white;
}
.music_player{
    width:339px;
}
.item2_description_layer{
    width:337px;
    height:200px;
    z-index: 10;
    position:absolute;
    background-color: black;
    opacity:0;
}

.item2_description{
    color:white;
    font-family: sans-serif;
    text-align: left;
}

.item2_description_layer:hover{
    opacity:0.8;
}

.item2_detail{
    width:auto;
    height:200px;
}

.interaction{
    width:25px;
    /*height:25px;*/
    float:right;
}

.interaction_tab{
    width:100%;
    height:40px;
}

.comments{
    width:70px;
    height:40px;
    float:right;
}

.count{
    float:right;
    margin:5px auto;
}
.profile_picture{
    width:30px;
    height:30px;
}

.profile_bar{
    float:right;
}
.most_liked{
    text-align: left;
    padding:10px;
}

.link{
    color:#ccffff;
}

.next{
    width:50px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.image{
    width:300px;
    height:200px;
}

.image_detail{
    width:300px;
    height:200px;
    float:left
}



.title{
    float:left;
}

.maker{
    float:left;
    margin-left: 20px;
}

.pembuat{
    height:auto;
    width:1000px;
    display:block;
    margin:auto;
}

.foto{
    width:350px;
    height: 200px;
    float:left;
}

.profile-page{
    width:1024px;
    height:100%;
    display: block;
    margin:10px auto;
}

.profile_photo{
    width:200px;
    height:160px;
    display:block;
    margin:10px auto;
}

.users_search{
    width:200px;
    height:160px;

}

.profile_photo_size{
    width:200px;
    height:125px;
}

.profile_photo_admin{
    width:200px;
    height:170px;
    float: left;
}

.users_admin{
    width: auto;
    height: auto;
    border: 1px solid black;
    margin-bottom: 10px;
}
.tepi{
    width:250px;
    height:auto;
    border: 1px dashed dodgerblue;
    display: inline-block;
}

.keterangan{
    width:739px;
    height:auto;
    display: inline;
    margin-left:5px;
    
}

.keterangan-detail{
    width:auto;
    height: 200px;
    border:1px dashed dodgerblue;
    display: inline-block;
    margin-left:40px;
}

.logo-keterangan{
    width:100px;
    height:100px;
    padding:20px;
    margin:5px auto;
    display:block;
}


.jumlah{
    color:blue;
    font-size: 30px;
    text-align: center;
}
